@model UniversitySystemWeb.Models.Student

@{
    ViewData["Title"] = "GradePerCourse";
}

<h1>Enter the subject's name:</h1>
<div>
    @using (Html.BeginForm()
    {
       
    }
</div>

              

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
